<!-- <form #registerForm="ngForm" (ngSubmit)="register()"> -->
<form [formGroup]="registerForm" (ngSubmit)="register()">

  <h2 class="text-center text-primary">Sign Up</h2>

  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline">
      <input type="radio" value="female" formControlName="gender">Female
    </label>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('username').errors && registerForm.get('username').touched}">
    <!-- <input type="text" class="form-control" placeholder="Username" required name="username" [(ngModel)]="model.username"> -->
    <input type="text" class="form-control" placeholder="Username" formControlName="username">
    <span class="help-block" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
      username is required
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')}">
    <input class="form-control" placeholder="Known as" formControlName="knownAs">
    <span class="help-block" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">Known as is required</span>
  </div>

  <!-- type="date" this type is not supported in some browser like IE so we use bsDatepicker directive from ngx-bootstrap -->
  <div class="form-group" [ngClass]="{'has-error': registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')}">
    <input class="form-control" type="text" bsDatepicker [bsConfig]="bsConfig" placeholder="Date of Birth" formControlName="dateOfBirth">
    <span class="help-block" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of birth is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('city').touched && registerForm.get('city').hasError('required')}">
    <input class="form-control" placeholder="City" formControlName="city">
    <span class="help-block" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('country').touched && registerForm.get('country').hasError('required')}">
    <input class="form-control" placeholder="Country" formControlName="country">
    <span class="help-block" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('password').errors && registerForm.get('password').touched}">
    <input type="password" class="form-control" placeholder="Password" required formControlName="password">
    <span class="help-block" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      password is required
    </span>
    <span class="help-block" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
      password must be at least 4 character
    </span>
    <span class="help-block" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
      password cannot excced 8 characters
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': ( registerForm.get('ConfirmPassword').errors || registerForm.hasError('mismatch') ) 
  && registerForm.get('ConfirmPassword').touched }">
    <input type=" password " class="form-control " placeholder="Confirm Password" required formControlName="ConfirmPassword">
    <span class="help-block" *ngIf="registerForm.get('ConfirmPassword').hasError('required') && registerForm.get(
    'ConfirmPassword').touched">
      Confirm Password is required
    </span>

    <span class="help-block" *ngIf="registerForm.hasError('mismatch') && registerForm.get(
    'ConfirmPassword').touched">
      Confirm Password must matc password
    </span>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit ">Register</button>
    <button class="btn btn-default" type="button " (click)="cancel() ">Cancel</button>
  </div>
</form>

<!-- <P>Form value: {{registerForm.value | json}}</P>
<P>Form status: {{registerForm.status | json}}</P> -->