<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" *ngIf="loggedIn()">
        <!-- <li><a href="#">Matches</a></li> -->
        <li routerLinkActive="active"><a [routerLink]="['/members']">Matches</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/lists']">Lists</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/messages']">Messages</a></li>
      </ul>
      <!-- needs to import FormsModule and add to ngModule in app.module -->
      <!-- convert html form to angular form -->
      <!-- [] usaully use to recieve data from component, () usaully use to send data to component -->
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" required name="username" [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" required name="password" [(ngModel)]="model.password">
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Sign in</button>
      </form>

      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
        <li>
          <img src="{{photoUrl}}" alt="" >
        </li>
          <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
          <li class="dropdown" dropdown>
            <a dropdownToggle class="dropdown-toggle">Welcome {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span></a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a [routerLink]="['member/edit']"><i class="fa fa-user"></i> Edit Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
        </ul>

    </div><!--/.navbar-collapse -->
  </div>
</nav>